<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778092929634-pvv55kfi30cr917k2gq3iiishrmgu5rv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778092929634-pvv55kfi30cr917k2gq3iiishrmgu5rv</string>
	<key>API_KEY</key>
	<string>AIzaSyB-k52Zl2VT1ZV0izxG1nQRcFDjR7j6A5M</string>
	<key>GCM_SENDER_ID</key>
	<string>778092929634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.zulDitontonStarter</string>
	<key>PROJECT_ID</key>
	<string>zulditonton</string>
	<key>STORAGE_BUCKET</key>
	<string>zulditonton.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778092929634:ios:9f7780a944fc9919c2273b</string>
</dict>
</plist>